      <div class="message clearfix">
        <%= image_tag ('cat.jpeg')%>
        <div class="message_box">
        <p class="user_name">野良猫1号<span class="time">・8月13日</span><p>
          <p class="text">
           <%= tweet.text %><br>
          <p>
        </div>
      </div>