<div class="contents">
  <h2>投稿する</h2>
  <%= form_tag('/tweets', method: :post,class: "clearfix") do %>
    <img src="/assets/cat1.png">
    <textarea cols="40" name="text" placeholder="text" rows="4">今日も疲れたにゃー</textarea>
    <div class="button-box">
      <input type="submit" class="submit-button">
    </div>
  <% end %>
</div>